*{
    font-family: sans-serif;
    
    
}
body{
    background: black;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    z-index: -1;
    color: white;
}
.hero{
    background: url("bg.jpg") no-repeat center center;
    height: 690px;
    background-size: 100%;
    background-image: linear-gradient(rgba(0,0,0,.55));
    position: relative;
    color: white;
    
    


}

hr{
    height: 6px;
    background-color: rgb(43, 45, 46);
    border: none;
    z-index: 2;

}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}
 .nav{
    position: relative;
    z-index: 2;
    height: 90px;

}

.nav img{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40% , -50%);
}

.hero-btn1{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60% , -50%);
}

 .hero-content{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 135px;
    margin: 135px 26%;
    
}

.hero-content h1{
    font-weight: 700;
    font-size: 66px;
    margin: -14px 30px;
    max-width: 800px;
    /* line-height: 72px; */
}
 
.hero-content h3{
    font-size: 26px;
    font-weight: 500;
    padding: 0px 0px 0px 0px;   
}

.hero-content h4{
    font-weight: 300;
    font-size: 23px;
    padding: 0px 0px 0px 0px;   
}

.hero-content input{
    border: none;
    position: absolute;
    top: 290px;
    left: 13px;
    color: #8c8c8c;
    font-size: 16px;
    height: 66px;
    width: 442px;
    padding-left: 10px;
}
 .hero-content button{
    position: absolute;
    left: 459px;
    top: 289px;
    height: 70px;
    width: 239px;
    background-color: red;
    color: white;
    font-size: 29px;
    cursor: pointer;
    font-weight: 500;
    border: none;
   

 }

.hero-btn1 button{
    background-color: red;
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 32px;
    width: 124px;
    text-align: center;

}
.section-1, .section-2 , .section-3, .section-4, .section-5 {
    background: black;
     background-color: #000000;}
.section-1{
    background: black;
    margin: 0px 0px;
    padding: 15px 0px;
}

.section-1 img{
    position: absolute;
    left: 786px;
    top: 715px;
    z-index: 2;
}

.section-1 video{
    position:relative;
    left: 859px;
    top: -115px;

}

.section-1 h1{
    font-size: 45px;
    position: relative;
    z-index: 2;
    font-weight: 700;
    top: 109px;
left: 164px;
    
}

 .section-1  h3{
 margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
max-width: 483px;
position: relative;
top: 105px;
left: 164px;
font-weight: 500;
font-size: 25px;
}
.section-3{
    margin: -32px 0px 0px 0px;
    padding: 10px;
}
.section-3 img{
    position: relative;
    top: -17px;
    left: 843px;
    z-index: 2;
}

.section-3 video{
    position: relative;
    top: -234px;
    left: 316px;
    height: 230px;

}

.section-3 h1{
    position: relative;
    top: 284px;
    left: 195px;
    font-size: 45px;

}

.section-3 h3{
    position: relative;
    top: 281px;
    left: 198px;
    max-width: 506px;
    font-size: 25px;
    font-weight: 300;
}


.section-4 h1{
    position: relative;
    top: -438px;
    left: 656px;
    font-size: 45px;
    max-width: 400px;
}

.section-4 h3{
    position: relative;
    top: -433px;
    left: 654px;
    max-width: 506px;
    font-size: 25px;
    font-weight: 300;
}

.section-4{
    padding: 0px 0px 0px 0px;
    margin: 60px -113px -224px 0px;
}


.section-5 h1{
    position: relative;
    top: 0px;
    left: 420px;
    font-size: 45px;

}

.section-5 ul{
    position: relative;
    left: 286px;
    top: 2px;
    line-height: 50px;
    list-style: none;
}

.section-5 li{
    background-color: gray;
    /* border: solid gray; */
}

.questions{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    
}

.questions li{
    padding: 11px 78px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 50%;
}

.faq h4{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
    top: -2px;
    left: 468px;
    padding-top: 61px;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
}

.input{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 50% 40%;
}

.input input{
    width: 600px;
    height: 3rem;
    position: relative;
    left: 381px;
    color: #8c8c8c;
    font-size: 16px;
    height: 66px;
    width: 584px;
    padding-left: 10px;
}

.input button{
    position: absolute;
    left: 459px;
    top: 0px;
    height: 70px;
    width: 239px;
    background-color: red;
    color: white;
    font-size: 29px;
    cursor: pointer;
    font-weight: 500;
    border: none;

    position: relative;
    left: 564px;
}

.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer ,
.footer a{
    text-decoration: none;
    color: #999999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 2.4;
    list-style: none;
   
}

